/* 

//XS
@media only screen and (max-width: 767px) {
}

//SM
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

//MD
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

//LG
@media only screen and (min-width: 1200px) and (max-width: 1579px) {}

//XL
@media only screen and (min-width: 1580px) {}



*/
/*----------------------

ALL OVER THE PAGE

----------------------*/
/* line 73, ../sass/custom.scss */
.fa,
a {
  color: #595959;
}
/* line 76, ../sass/custom.scss */
.fa:hover, .fa:active, .fa:focus,
a:hover,
a:active,
a:focus {
  color: #F0D4D1;
}

/* line 83, ../sass/custom.scss */
p {
  margin: 0;
}

/* line 87, ../sass/custom.scss */
.xs-text {
  font-size: 11px;
}

/* line 91, ../sass/custom.scss */
.capsLock {
  text-transform: uppercase;
}

/* line 95, ../sass/custom.scss */
.lg-text {
  font-size: 18px;
}

/* line 99, ../sass/custom.scss */
.italic {
  font-style: italic;
}

/* line 103, ../sass/custom.scss */
.marginTop {
  margin-top: 10px;
}

/* line 107, ../sass/custom.scss */
.zeroPadding {
  padding: 0;
}

/* line 111, ../sass/custom.scss */
.zeroMargin {
  margin: 0;
}

/* line 115, ../sass/custom.scss */
.btn-outline-secondary {
  background-color: #dae0e5;
  color: #595959;
  border-radius: 5px;
  border: 0;
  padding: 10px 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 122, ../sass/custom.scss */
.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:focus {
  background-color: #F0D4D1;
  color: #595959;
}

/* line 131, ../sass/custom.scss */
.hr-title {
  width: 70px;
  height: 1px;
  background-color: #595959;
}

/* line 137, ../sass/custom.scss */
.section-heading {
  color: #595959;
  margin: 15px 0 45px 0;
  font-size: 2.1em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-family: lato;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  /* line 148, ../sass/custom.scss */
  .section-heading {
    font-size: 1.7em;
  }

  /* line 151, ../sass/custom.scss */
  .smaller-mobile {
    font-size: 1.4em;
  }
}
/* line 156, ../sass/custom.scss */
.section-heading.noMargin {
  margin: 15px;
}

/* line 160, ../sass/custom.scss */
.section-subheading {
  margin: 20px;
}

/* line 164, ../sass/custom.scss */
.section-subheading.text-muted {
  font-size: 90%;
}

/* line 168, ../sass/custom.scss */
html {
  font-family: 'Montserrat', sans-serif;
  color: #595959;
}

/* line 173, ../sass/custom.scss */
body {
  color: #595959;
}

/* line 177, ../sass/custom.scss */
section {
  padding: 110px 0;
}

/* line 181, ../sass/custom.scss */
.container-fluid {
  max-width: 1600px;
}

/* line 185, ../sass/custom.scss */
#makeup {
  padding: 55px 0 0 0;
}

/* line 189, ../sass/custom.scss */
.btn {
  cursor: pointer;
}

/*----------------------------

HEADER 

----------------------------*/
/* line 200, ../sass/custom.scss */
header {
  padding: 55px 0 0 0;
}

/* line 204, ../sass/custom.scss */
.navbar-brand img {
  width: 55%;
}

/* line 208, ../sass/custom.scss */
.nav-link {
  /*text-transform: uppercase;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

/* line 223, ../sass/custom.scss */
.navbar-toggler {
  margin-right: 10px;
}

/* line 227, ../sass/custom.scss */
.navbar-brand.js-scroll-trigger {
  width: 200px;
}

/* line 231, ../sass/custom.scss */
.ml-auto {
  margin-top: 10px;
  text-align: right;
}

@media only screen and (max-width: 991px) {
  /* line 239, ../sass/custom.scss */
  .fixed-top {
    border-bottom: 1px solid #404040;
  }

  /* line 242, ../sass/custom.scss */
  .navbar-brand img {
    width: 50%;
  }

  /* line 245, ../sass/custom.scss */
  .nav-link {
    margin: 0px;
  }
}
/* NAV LINKS EFFECT UNDERLINE */
/* line 253, ../sass/custom.scss */
.cl-effect-3 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

/* line 270, ../sass/custom.scss */
.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/*----------------------------

CAROUSEL 

----------------------------*/
/* line 285, ../sass/custom.scss */
.btn.white {
  background-color: white;
}
/* line 287, ../sass/custom.scss */
.btn.white:hover, .btn.white:active, .btn.white:focus {
  background-color: #dae0e5;
}

/* line 294, ../sass/custom.scss */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 304, ../sass/custom.scss */
.carousel-item.zoom-70 {
  background-position: 70%;
}

/* line 308, ../sass/custom.scss */
.carousel-item.zoom-80 {
  background-position: 80%;
}

/* line 312, ../sass/custom.scss */
.carousel-item.zoom-left {
  background-position: left;
}

/* line 316, ../sass/custom.scss */
.carousel-caption {
  width: 300px;
  top: 180px;
  color: #595959;
}
/* line 320, ../sass/custom.scss */
.carousel-caption h3 {
  font-size: 3em;
  font-family: 'Radley', serif;
}
/* line 324, ../sass/custom.scss */
.carousel-caption p {
  margin: 25px 0 30px 0;
}

/* line 329, ../sass/custom.scss */
.carousel-caption.caption-right {
  left: auto;
  color: white;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 335, ../sass/custom.scss */
  .carousel-caption {
    top: 70px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 341, ../sass/custom.scss */
  .carousel-item {
    background-color: 0, 0, 0, 0.2;
  }

  /* line 345, ../sass/custom.scss */
  .carousel-caption {
    width: 200px;
    top: 100px;
    right: auto;
    left: 30px;
  }
  /* line 350, ../sass/custom.scss */
  .carousel-caption h3 {
    font-size: 1.8em;
  }
  /* line 353, ../sass/custom.scss */
  .carousel-caption p {
    margin: 25px 0 30px 0;
    font-size: 1em;
  }

  /* line 358, ../sass/custom.scss */
  .carousel-caption.caption-right {
    top: 100px;
    left: 40px;
    right: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 367, ../sass/custom.scss */
  .carousel-caption {
    width: 300px;
    top: 270px;
    right: auto;
    left: 60px;
  }
  /* line 372, ../sass/custom.scss */
  .carousel-caption p {
    font-size: 1.2em;
  }
}
/*----------------------------

FOOTER

----------------------------*/
/* line 385, ../sass/custom.scss */
.social-media {
  list-style: none;
  padding: 0;
  margin: 0 0 50px 0;
}
/* line 389, ../sass/custom.scss */
.social-media li {
  display: inline-block;
  margin: 0px 3px;
}
/* line 392, ../sass/custom.scss */
.social-media li a {
  display: inline-block;
  width: 54px;
  height: 54px;
  color: #595959;
  background-color: #F5F3EE;
  border-radius: 27px;
}
/* line 399, ../sass/custom.scss */
.social-media li a i {
  font-size: 23px;
  padding: 16px 0px;
}
/* line 402, ../sass/custom.scss */
.social-media li a i:hover, .social-media li a i:active, .social-media li a i:focus {
  color: #F5F3EE;
}
/* line 408, ../sass/custom.scss */
.social-media li a:hover, .social-media li a:active, .social-media li a:focus {
  background-color: #595959;
}
/* line 412, ../sass/custom.scss */
.social-media li a:hover i, .social-media li a:active i, .social-media li a:focus i {
  color: #F5F3EE;
}

/* line 420, ../sass/custom.scss */
footer {
  padding: 100px 0 30px 0;
}

/* line 424, ../sass/custom.scss */
.text-muted-footer {
  font-size: 90%;
}

@media only screen and (max-width: 992px) {
  /* line 429, ../sass/custom.scss */
  .text-muted-footer {
    font-size: 80%;
  }
}
/* line 434, ../sass/custom.scss */
#to-top {
  font-size: 1em;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  padding: 15px 20px;
}

/* line 443, ../sass/custom.scss */
.section-heading.footer {
  font-size: 1.7em;
  margin: 15px;
  text-transform: capitalize;
}

/*----------------------------

SERVICES

----------------------------*/
/* line 456, ../sass/custom.scss */
.portfolio-item {
  text-align: center;
}

/* line 460, ../sass/custom.scss */
.card-title {
  margin-top: 5px;
  height: 50px;
  text-transform: capitalize;
}

/* line 466, ../sass/custom.scss */
.card-text {
  height: 250px;
  font-size: 14px;
  margin: 10px;
}

@media only screen and (max-width: 575px) {
  /* line 474, ../sass/custom.scss */
  .portfolio-item {
    margin: auto 30px;
  }

  /* line 477, ../sass/custom.scss */
  .card-text {
    height: auto;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 485, ../sass/custom.scss */
  .smaller-text {
    font-size: 12px !important;
  }

  /* line 488, ../sass/custom.scss */
  .card-title {
    height: 80px;
  }

  /* line 491, ../sass/custom.scss */
  .card-text {
    height: 300px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 499, ../sass/custom.scss */
  .smaller-text {
    font-size: 12px !important;
  }

  /* line 502, ../sass/custom.scss */
  .card-title {
    height: 50px;
  }

  /* line 505, ../sass/custom.scss */
  .card-text {
    height: 200px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 513, ../sass/custom.scss */
  .card-text {
    height: 300px;
  }
}
/* line 518, ../sass/custom.scss */
figure.effect-duke img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 522, ../sass/custom.scss */
figure.effect-duke:hover img {
  opacity: 1;
  -webkit-transform: scale3d(1.08, 1.08, 1);
  -moz-transform: scale3d(1.08, 1.08, 1);
  -ms-transform: scale3d(1.08, 1.08, 1);
  -o-transform: scale3d(1.08, 1.08, 1);
  transform: scale3d(1.08, 1.08, 1);
}

/* line 527, ../sass/custom.scss */
.portfolio-item {
  margin-bottom: 30px;
}

/* line 533, ../sass/custom.scss */
#services {
  background-color: #fff !important;
}

/*---------------------------- 

MAP

----------------------------*/
/* line 544, ../sass/custom.scss */
#map {
  width: 100%;
  height: 450px;
}

/* line 549, ../sass/custom.scss */
.map {
  height: 500px;
}

@media (max-width: 768px) {
  /* line 554, ../sass/custom.scss */
  .map {
    height: 75%;
  }
}
/* line 559, ../sass/custom.scss */
.map iframe {
  pointer-events: none;
}

/*----------------------------

PRICES

----------------------------*/
/* line 570, ../sass/custom.scss */
#prices {
  background-image: url("../images/pattern_pink.gif");
  background-size: 100%;
  background-repeat: repeat;
  padding: 0;
  color: #595959;
}

/* line 578, ../sass/custom.scss */
.priceList {
  background-color: white;
  padding: 70px;
  width: 1000px;
  margin: 100px auto 100px auto !important;
  text-align: center;
  font-family: lato;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

/* line 590, ../sass/custom.scss */
.column {
  width: 100%;
  text-align: left;
}

/* line 595, ../sass/custom.scss */
.column-left {
  width: 75%;
  text-align: left;
}

/* line 600, ../sass/custom.scss */
.column-right {
  width: 25%;
  text-align: right;
}

/* line 605, ../sass/custom.scss */
.type {
  font-family: 'lato', sans-serif;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
}

/* line 612, ../sass/custom.scss */
.price-item {
  font-size: 16px;
  margin: 0;
}

/* line 617, ../sass/custom.scss */
.price-item.finstil {
  margin-top: 15px;
  font-size: 14px;
}

/* line 622, ../sass/custom.scss */
.container.prislista {
  margin-top: 30px;
}

/* line 626, ../sass/custom.scss */
.row.prislista {
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  /* line 631, ../sass/custom.scss */
  .priceList {
    width: 320px;
    padding: 50px 30px;
    margin: 50px auto !important;
  }

  /* line 636, ../sass/custom.scss */
  .type {
    font-size: 18px;
  }

  /* line 639, ../sass/custom.scss */
  .price-item {
    font-size: 13px;
  }

  /* line 642, ../sass/custom.scss */
  .finstil {
    font-size: 12px !important;
  }

  /* line 645, ../sass/custom.scss */
  .row.prislista {
    flex-wrap: nowrap;
  }
}
/*---------------------------

ABOUT

--------------------------- */
/* line 657, ../sass/custom.scss */
.p-5 {
  padding: 3rem !important;
}

/* line 661, ../sass/custom.scss */
.om-oss {
  margin: 0 70px;
}

@media only screen and (max-width: 992px) {
  /* line 666, ../sass/custom.scss */
  .p-5 {
    text-align: center;
    padding: 1rem !important;
  }
  /* line 669, ../sass/custom.scss */
  .p-5 img {
    max-width: 50%;
  }

  /* line 673, ../sass/custom.scss */
  .om-oss {
    margin: 40px 40px;
  }
}
/* line 678, ../sass/custom.scss */
.fa-quote-left {
  font-size: 25px;
  color: #F0D4D1;
  margin: 20px;
}

/* line 684, ../sass/custom.scss */
#about {
  padding: 80px 0;
}

/* line 688, ../sass/custom.scss */
.quote-item {
  margin: 30px 0 0 0;
  padding-right: 90px;
  padding-left: 90px;
  text-align: center;
}
/* line 693, ../sass/custom.scss */
.quote-item img {
  margin: 20px;
}
/* line 696, ../sass/custom.scss */
.quote-item h3 {
  text-align: left;
  font-size: 95%;
  margin: 15px 0 20px 0;
}
/* line 701, ../sass/custom.scss */
.quote-item h4 {
  text-align: right;
  font-size: 95%;
  color: #e3b0ab;
}

/* line 708, ../sass/custom.scss */
.wrap-quote {
  height: 190px;
}

@media only screen and (max-width: 767px) {
  /* line 714, ../sass/custom.scss */
  .quote-item {
    margin: 20px 0 0 0;
  }
  /* line 716, ../sass/custom.scss */
  .quote-item img {
    margin: 10px;
  }

  /* line 720, ../sass/custom.scss */
  .wrap-quote {
    width: 150px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 730, ../sass/custom.scss */
  .quote-item {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 738, ../sass/custom.scss */
  .quote-item {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 746, ../sass/custom.scss */
  .quote-item h3 {
    height: auto;
  }
}
/*--------------------------

CONTACT FORM (AGENCY)

--------------------------*/
/* line 759, ../sass/custom.scss */
#contact {
  padding: 70px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* line 765, ../sass/custom.scss */
#contactForm {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 771, ../sass/custom.scss */
#defaultBtn {
  background-color: #dae0e5;
  /*border: 1px solid darken($background_gray, 10%);*/
  padding: 1rem 2rem;
  width: 227px;
  margin-top: 10px;
  color: #595959;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 781, ../sass/custom.scss */
#defaultBtn:hover, #defaultBtn:active, #defaultBtn:focus {
  background-color: #F0D4D1;
  color: #595959;
}

@media only screen and (max-width: 767px) {
  /* line 791, ../sass/custom.scss */
  #contact {
    padding: 30px;
  }

  /* line 794, ../sass/custom.scss */
  #defaultBtn {
    width: 200px;
    font-size: 14px;
  }
}
/* line 800, ../sass/custom.scss */
.form-group {
  margin-top: 20px;
  margin-bottom: 25px;
}

/* line 805, ../sass/custom.scss */
input {
  padding: 20px;
}

/* line 809, ../sass/custom.scss */
textarea {
  padding: 20px;
}

/* line 813, ../sass/custom.scss */
input.form-control {
  height: auto;
}

/* line 817, ../sass/custom.scss */
textarea.form-control {
  height: 166px;
}

/* line 821, ../sass/custom.scss */
.form-control:focus {
  border: 2px solid #F0D4D1;
  box-shadow: none;
}

/*--------------------------

INSTAGRAM FEED 

--------------------------*/
/* line 834, ../sass/custom.scss */
#instaLink {
  font-size: 24px;
  text-transform: uppercase;
  font-family: lato;
}

/* line 840, ../sass/custom.scss */
#instafeed {
  margin: 20px 0;
}

/* line 844, ../sass/custom.scss */
.instaimg img {
  margin: 0 0 30px 0;
  padding: 0;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

@media only screen and (max-width: 575px) {
  /* line 853, ../sass/custom.scss */
  .instaimg {
    text-align: center;
  }
}
/* line 858, ../sass/custom.scss */
.instaimg img:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
}

/*-----------------------

PMG GRID

-----------------------*/
/* line 871, ../sass/custom.scss */
.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* line 880, ../sass/custom.scss */
.grid figure {
  position: relative;
  overflow: hidden;
  margin: 0 0 15px 0;
  width: auto;
  height: auto;
  text-align: center;
  cursor: pointer;
}

/* line 890, ../sass/custom.scss */
.grid figure img {
  position: relative;
  display: block;
  max-width: 100%;
  width: 100%;
  opacity: 1;
}

/* line 899, ../sass/custom.scss */
figure.effect-duke img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 904, ../sass/custom.scss */
figure.effect-duke:hover img {
  opacity: 1;
  -webkit-transform: scale3d(1.08, 1.08, 1);
  -moz-transform: scale3d(1.08, 1.08, 1);
  -ms-transform: scale3d(1.08, 1.08, 1);
  -o-transform: scale3d(1.08, 1.08, 1);
  transform: scale3d(1.08, 1.08, 1);
}
