/* line 23, ../sass/custom.scss */
html {
  font-family: 'Montserrat', sans-serif;
}

/* line 27, ../sass/custom.scss */
section {
  padding: 110px 0;
}

/* line 31, ../sass/custom.scss */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 41, ../sass/custom.scss */
header {
  padding: 55px 0 0 0;
}

/* line 45, ../sass/custom.scss */
.navbar-brand img {
  width: 60%;
}

/* line 49, ../sass/custom.scss */
.nav-link {
  /*text-transform: uppercase;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

/* line 64, ../sass/custom.scss */
.navbar-toggler {
  margin-right: 10px;
}

/* line 68, ../sass/custom.scss */
.navbar-brand.js-scroll-trigger {
  width: 200px;
}

/* line 72, ../sass/custom.scss */
.ml-auto {
  margin-top: 10px;
  text-align: right;
}

@media only screen and (max-width: 991px) {
  /* line 80, ../sass/custom.scss */
  .fixed-top {
    border-bottom: 1px solid #404040;
  }

  /* line 83, ../sass/custom.scss */
  .navbar-brand img {
    width: 50%;
  }

  /* line 86, ../sass/custom.scss */
  .nav-link {
    margin: 0px;
  }
}
/* NAV LINKS EFFECT UNDERLINE */
/* line 94, ../sass/custom.scss */
.cl-effect-3 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

/* line 111, ../sass/custom.scss */
.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 119, ../sass/custom.scss */
.container-fluid {
  max-width: 1600px;
}

/* line 123, ../sass/custom.scss */
#makeup {
  padding: 55px 0 0 0;
}

/* line 127, ../sass/custom.scss */
.fa,
a {
  color: #595959;
}
/* line 130, ../sass/custom.scss */
.fa:hover, .fa:active, .fa:focus,
a:hover,
a:active,
a:focus {
  color: #F7B4BA;
}

/* line 137, ../sass/custom.scss */
.list-inline-item {
  margin-top: 3px;
  margin-bottom: 10px;
}

/* line 142, ../sass/custom.scss */
.list-inline-item:not(:last-child) {
  margin-right: 1px;
}

/* line 146, ../sass/custom.scss */
.xs-text {
  font-size: 11px;
}

/* line 150, ../sass/custom.scss */
.capsLock {
  text-transform: uppercase;
}

/* line 154, ../sass/custom.scss */
.lg-text {
  font-size: 18px;
}

/* line 158, ../sass/custom.scss */
.marginTop {
  margin-top: 10px;
}

/* line 162, ../sass/custom.scss */
.zeroPadding {
  padding: 0;
}

/* line 166, ../sass/custom.scss */
.zeroMargin {
  margin: 0;
}

/* line 170, ../sass/custom.scss */
.capsLock {
  text-transform: uppercase;
}

/* line 174, ../sass/custom.scss */
.carousel-caption {
  width: 300px;
  top: 200px;
  font-family: 'Radley', serif;
}

/* line 180, ../sass/custom.scss */
.carousel-caption h3 {
  font-size: 3em;
}

/* line 184, ../sass/custom.scss */
.carousel-caption.right {
  left: auto;
  right: -300px;
}

/* line 189, ../sass/custom.scss */
.portfolio-item {
  text-align: center;
}

/* line 193, ../sass/custom.scss */
.card-title {
  margin-top: 20px;
  text-transform: capitalize;
}

/* line 198, ../sass/custom.scss */
.card-text {
  height: 250px;
  font-size: 15px;
}

/* line 203, ../sass/custom.scss */
.btn {
  cursor: pointer;
}

/* line 207, ../sass/custom.scss */
.portfolio-item {
  margin-bottom: 30px;
}

/* line 213, ../sass/custom.scss */
#services {
  background-color: #fff !important;
}

/*

CONTACT FORM

*/
/* line 224, ../sass/custom.scss */
section#contact {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* line 229, ../sass/custom.scss */
.section-heading {
  color: #262626;
  margin: 15px;
  text-transform: uppercase;
  font-family: lato;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
  font-size: 2em;
}

/* line 238, ../sass/custom.scss */
.section-subheading {
  margin: 20px;
}

/* line 242, ../sass/custom.scss */
#contact {
  padding: 70px;
}

/* line 246, ../sass/custom.scss */
.section-subheading.text-muted {
  font-size: 90%;
}

/*from new york theme */
/* Map */
/* line 256, ../sass/custom.scss */
#map {
  width: 100%;
  height: 500px;
}

/* line 261, ../sass/custom.scss */
.map {
  height: 500px;
}

@media (max-width: 768px) {
  /* line 266, ../sass/custom.scss */
  .map {
    height: 75%;
  }
}
/* line 271, ../sass/custom.scss */
.map iframe {
  pointer-events: none;
}

/* Footer */
/* line 278, ../sass/custom.scss */
footer {
  padding: 100px 0;
}

/* line 282, ../sass/custom.scss */
.text-muted-footer {
  font-size: 90%;
}

/* line 286, ../sass/custom.scss */
#to-top {
  font-size: 1em;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  padding: 15px 20px;
}

/* line 295, ../sass/custom.scss */
.section-heading.footer {
  font-size: 1.7em;
}

/* line 299, ../sass/custom.scss */
.btn-outline-secondary {
  background-color: #dae0e5;
  color: black;
  border-radius: 5px;
  border: 0;
  padding: 10px 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 306, ../sass/custom.scss */
.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:focus {
  background-color: #fce2e4;
  color: black;
}

/* line 314, ../sass/custom.scss */
.priceList {
  background-color: #ffeaed;
  opacity: 0.9;
  opacity: 0.9;
  padding: 70px;
  width: 1000px;
  margin: 70px auto 70px auto;
  text-align: center;
  font-family: lato;
}

/* line 324, ../sass/custom.scss */
.hr-prislista {
  width: 100px;
  height: 2px;
  background-color: black;
}

/* line 330, ../sass/custom.scss */
.type {
  font-family: 'lato', sans-serif;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
}

/* line 337, ../sass/custom.scss */
.price-item {
  font-size: 16px;
  margin: 0;
}

/* line 342, ../sass/custom.scss */
.price-item.finstil {
  margin-top: 15px;
  font-size: 14px;
}

/* line 347, ../sass/custom.scss */
.container.prislista {
  margin-top: 30px;
}

/* line 351, ../sass/custom.scss */
.row.prislista {
  margin-top: 10px;
}

/* line 355, ../sass/custom.scss */
.italic {
  font-style: italic;
}

/* line 359, ../sass/custom.scss */
.fa-quote-left {
  font-size: 20px;
  color: #F7B4BA;
  margin: 20px;
}

/* line 365, ../sass/custom.scss */
#about {
  padding: 80px 0;
}

/* line 369, ../sass/custom.scss */
.quote {
  font-style: italic;
}

/* line 373, ../sass/custom.scss */
.quote-item {
  padding-right: 90px;
  padding-left: 90px;
}

/*

IF I WANT WHITE BACKGROUND

.quote-item {
    background-color: white;
    margin-right: 50px;
    margin-left: 50px;
    padding: 5px 20px;
}
*/
/* line 391, ../sass/custom.scss */
.quote-sign {
  font-style: italic;
  color: #F7B4BA;
}

/* 

AGENCY CONTACT FORM

*/
/* line 403, ../sass/custom.scss */
#contactForm {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 409, ../sass/custom.scss */
#defaultBtn {
  background-color: #dae0e5;
  /*border: 1px solid darken($background_gray, 10%);*/
  padding: 1rem 2rem;
  width: 227px;
  margin-top: 10px;
  color: black;
  border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 419, ../sass/custom.scss */
#defaultBtn:hover, #defaultBtn:active, #defaultBtn:focus {
  background-color: #fce2e4;
  color: black;
}

/* line 427, ../sass/custom.scss */
.form-group {
  margin-top: 20px;
  margin-bottom: 25px;
}

/* line 432, ../sass/custom.scss */
input {
  padding: 20px;
}

/* line 436, ../sass/custom.scss */
textarea {
  padding: 20px;
}

/* line 440, ../sass/custom.scss */
input.form-control {
  height: auto;
}

/* line 444, ../sass/custom.scss */
textarea.form-control {
  height: 166px;
}

/* line 448, ../sass/custom.scss */
.form-control:focus {
  border: 2px solid #fce2e4;
  box-shadow: none;
}

/* line 453, ../sass/custom.scss */
#prices {
  background-color: #262626;
  padding: 0;
  color: #262626;
}

/* PRICE LIST */
/* line 462, ../sass/custom.scss */
.fill {
  width: 100%;
  height: 810px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 472, ../sass/custom.scss */
.opacity {
  opacity: 0.3;
}

/* INSTAGRAM FEED STARTS HERE */
/*.container.insta {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
}

@media only screen and (min-width: 771px) and (max-width: 1000px) {
    #instafeed {
        width: 720px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 770px) {
    #instafeeed {
        width: 450px;
    }
}

@media only screen and (max-width: 480px) {
    #instafeeed {
        width: 240px;
    }
}


#instafeed {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 30px auto 30px auto;
}
*/
/* line 513, ../sass/custom.scss */
#instaLink {
  font-size: 24px;
  text-transform: uppercase;
  font-family: lato;
}

/* line 519, ../sass/custom.scss */
#instafeed {
  margin: 40px 0;
}

/* line 523, ../sass/custom.scss */
.instaimg img {
  margin: 0 0 30px 0;
  padding: 0;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

/* line 531, ../sass/custom.scss */
.instaimg img:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
}
