/* 

//XS
@media only screen and (max-width: 767px) {
}

//SM
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

//MD
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

//LG
@media only screen and (min-width: 1200px) and (max-width: 1579px) {}

//XL
@media only screen and (min-width: 1580px) {}



*/
/*----------------------

ALL OVER THE PAGE

----------------------*/
/* line 73, ../sass/custom.scss */
span {
  font-size: 70%;
}

/* line 77, ../sass/custom.scss */
.fa,
a {
  color: #595959;
}
/* line 80, ../sass/custom.scss */
.fa:hover, .fa:active, .fa:focus,
a:hover,
a:active,
a:focus {
  color: #F0D4D1;
}

/* line 87, ../sass/custom.scss */
p {
  margin: 0;
}

/* line 91, ../sass/custom.scss */
.xs-text {
  font-size: 11px;
}

/* line 95, ../sass/custom.scss */
.capsLock {
  text-transform: uppercase;
}

/* line 99, ../sass/custom.scss */
.lg-text {
  font-size: 18px;
}

/* line 103, ../sass/custom.scss */
.italic {
  font-style: italic;
}

/* line 107, ../sass/custom.scss */
.marginTop {
  margin-top: 10px;
}

/* line 111, ../sass/custom.scss */
.zeroPadding {
  padding: 0;
}

/* line 115, ../sass/custom.scss */
.zeroMargin {
  margin: 0;
}

/* line 119, ../sass/custom.scss */
.btn-outline-secondary {
  background-color: #dae0e5;
  color: #595959;
  border-radius: 5px;
  border: 0;
  padding: 10px 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 126, ../sass/custom.scss */
.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:focus {
  background-color: #F0D4D1;
  color: #595959;
}

/* line 135, ../sass/custom.scss */
.hr-title {
  width: 70px;
  height: 1px;
  background-color: #595959;
}

/* line 141, ../sass/custom.scss */
.section-heading {
  color: #595959;
  margin: 15px 0 45px 0;
  font-size: 2.1em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-family: lato;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  /* line 152, ../sass/custom.scss */
  .section-heading {
    font-size: 1.7em;
  }

  /* line 155, ../sass/custom.scss */
  .smaller-mobile {
    font-size: 1.4em;
  }
}
/* line 160, ../sass/custom.scss */
.section-heading.noMargin {
  margin: 15px;
}

/* line 164, ../sass/custom.scss */
.section-subheading {
  margin: 20px;
}

/* line 168, ../sass/custom.scss */
.section-subheading.text-muted {
  font-size: 90%;
}

/* line 172, ../sass/custom.scss */
html {
  font-family: 'Montserrat', sans-serif;
  color: #595959;
}

/* line 177, ../sass/custom.scss */
body {
  color: #595959;
}

/* line 181, ../sass/custom.scss */
section {
  padding: 110px 0;
}

/* line 185, ../sass/custom.scss */
.container-fluid {
  max-width: 1600px;
}

/* line 189, ../sass/custom.scss */
#makeup {
  padding: 55px 0 0 0;
}

/* line 193, ../sass/custom.scss */
.btn {
  cursor: pointer;
}

/*----------------------------

HEADER 

----------------------------*/
/* line 204, ../sass/custom.scss */
header {
  padding: 55px 0 0 0;
}

/* line 208, ../sass/custom.scss */
.navbar-brand img {
  width: 55%;
}

/* line 212, ../sass/custom.scss */
.nav-link {
  /*text-transform: uppercase;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

/* line 227, ../sass/custom.scss */
.navbar-toggler {
  margin-right: 10px;
}

/* line 231, ../sass/custom.scss */
.navbar-brand.js-scroll-trigger {
  width: 200px;
}

/* line 235, ../sass/custom.scss */
.ml-auto {
  margin-top: 10px;
  text-align: right;
}

@media only screen and (max-width: 991px) {
  /* line 243, ../sass/custom.scss */
  .fixed-top {
    border-bottom: 1px solid #404040;
  }

  /* line 246, ../sass/custom.scss */
  .navbar-brand img {
    width: 50%;
  }

  /* line 249, ../sass/custom.scss */
  .nav-link {
    margin: 0px;
  }
}
/* NAV LINKS EFFECT UNDERLINE */
/* line 257, ../sass/custom.scss */
.cl-effect-3 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

/* line 274, ../sass/custom.scss */
.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/*----------------------------

CAROUSEL 

----------------------------*/
/* line 289, ../sass/custom.scss */
.btn.white {
  background-color: white;
}
/* line 291, ../sass/custom.scss */
.btn.white:hover, .btn.white:active, .btn.white:focus {
  background-color: #dae0e5;
}

/* line 298, ../sass/custom.scss */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 308, ../sass/custom.scss */
.carousel-item.zoom-70 {
  background-position: 70%;
}

/* line 312, ../sass/custom.scss */
.carousel-item.zoom-80 {
  background-position: 80%;
}

/* line 316, ../sass/custom.scss */
.carousel-item.zoom-left {
  background-position: 10%;
}

/* line 320, ../sass/custom.scss */
.carousel-caption {
  width: 300px;
  top: 180px;
  color: #595959;
}
/* line 324, ../sass/custom.scss */
.carousel-caption h3 {
  font-size: 3em;
  font-family: 'Radley', serif;
}
/* line 328, ../sass/custom.scss */
.carousel-caption p {
  margin: 25px 0 30px 0;
}

/* line 333, ../sass/custom.scss */
.carousel-caption.caption-right {
  left: auto;
  color: white;
}

@media only screen and (max-width: 767px) {
  /* line 339, ../sass/custom.scss */
  .carousel-item {
    background-color: 0, 0, 0, 0.2;
  }

  /* line 343, ../sass/custom.scss */
  .carousel-caption {
    width: 200px;
    top: 100px;
    right: auto;
    left: 30px;
  }
  /* line 348, ../sass/custom.scss */
  .carousel-caption h3 {
    font-size: 1.8em;
  }
  /* line 351, ../sass/custom.scss */
  .carousel-caption p {
    margin: 25px 0 30px 0;
    font-size: 1em;
  }

  /* line 356, ../sass/custom.scss */
  .carousel-caption.caption-right {
    top: 100px;
    left: 40px;
    right: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 365, ../sass/custom.scss */
  .carousel-caption {
    width: 300px;
    top: 270px;
    right: auto;
    left: 60px;
  }
  /* line 370, ../sass/custom.scss */
  .carousel-caption p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1300px) {
  /* line 378, ../sass/custom.scss */
  .carousel-caption {
    top: 100px !important;
  }
}
/*----------------------------

FOOTER

----------------------------*/
/* line 390, ../sass/custom.scss */
.social-media {
  list-style: none;
  padding: 0;
  margin: 0 0 50px 0;
}
/* line 394, ../sass/custom.scss */
.social-media li {
  display: inline-block;
  margin: 0px 3px;
}
/* line 397, ../sass/custom.scss */
.social-media li a {
  display: inline-block;
  width: 54px;
  height: 54px;
  color: #595959;
  background-color: #F5F3EE;
  border-radius: 27px;
}
/* line 404, ../sass/custom.scss */
.social-media li a i {
  font-size: 23px;
  padding: 16px 0px;
}
/* line 407, ../sass/custom.scss */
.social-media li a i:hover, .social-media li a i:active, .social-media li a i:focus {
  color: #F5F3EE;
}
/* line 413, ../sass/custom.scss */
.social-media li a:hover, .social-media li a:active, .social-media li a:focus {
  background-color: #595959;
}
/* line 417, ../sass/custom.scss */
.social-media li a:hover i, .social-media li a:active i, .social-media li a:focus i {
  color: #F5F3EE;
}

/* line 425, ../sass/custom.scss */
footer {
  padding: 100px 0 30px 0;
}

/* line 429, ../sass/custom.scss */
.text-muted-footer {
  font-size: 90%;
}

@media only screen and (max-width: 992px) {
  /* line 434, ../sass/custom.scss */
  .text-muted-footer {
    font-size: 80%;
  }
}
/* line 439, ../sass/custom.scss */
#to-top {
  font-size: 1em;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  padding: 15px 20px;
}

/* line 448, ../sass/custom.scss */
.section-heading.footer {
  font-size: 1.7em;
  margin: 15px;
  text-transform: capitalize;
}

/*----------------------------

SERVICES

----------------------------*/
/* line 461, ../sass/custom.scss */
.portfolio-item {
  text-align: center;
}

/* line 465, ../sass/custom.scss */
.card-title {
  margin-top: 5px;
  height: 50px;
  text-transform: capitalize;
}

/* line 471, ../sass/custom.scss */
.card-text {
  height: 380px;
  font-size: 14px;
  margin: 10px;
}

@media only screen and (max-width: 575px) {
  /* line 479, ../sass/custom.scss */
  .portfolio-item {
    margin: auto 30px;
  }

  /* line 482, ../sass/custom.scss */
  .card-text {
    height: auto;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 490, ../sass/custom.scss */
  .smaller-text {
    font-size: 12px !important;
  }

  /* line 493, ../sass/custom.scss */
  .card-title {
    height: 80px;
  }

  /* line 496, ../sass/custom.scss */
  .card-text {
    height: 380px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 504, ../sass/custom.scss */
  .card-title {
    height: 50px;
  }

  /* line 507, ../sass/custom.scss */
  .card-text {
    height: 310px;
    font-size: 14px;
  }

  /* line 511, ../sass/custom.scss */
  .smaller-text {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 518, ../sass/custom.scss */
  .card-text {
    height: 340px;
  }

  /* line 521, ../sass/custom.scss */
  .smaller-text {
    font-size: 12px !important;
  }
}
/* line 526, ../sass/custom.scss */
figure.effect-duke img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 530, ../sass/custom.scss */
figure.effect-duke:hover img {
  opacity: 1;
  -webkit-transform: scale3d(1.08, 1.08, 1);
  -moz-transform: scale3d(1.08, 1.08, 1);
  -ms-transform: scale3d(1.08, 1.08, 1);
  -o-transform: scale3d(1.08, 1.08, 1);
  transform: scale3d(1.08, 1.08, 1);
}

/* line 535, ../sass/custom.scss */
.portfolio-item {
  margin-bottom: 30px;
}

/* line 541, ../sass/custom.scss */
#services {
  background-color: #fff !important;
}

/*---------------------------- 

MAP

----------------------------*/
/* line 552, ../sass/custom.scss */
#map {
  width: 100%;
  height: 450px;
}

/* line 557, ../sass/custom.scss */
.map {
  height: 500px;
}

@media (max-width: 768px) {
  /* line 562, ../sass/custom.scss */
  .map {
    height: 75%;
  }
}
/* line 567, ../sass/custom.scss */
.map iframe {
  pointer-events: none;
}

/*----------------------------

PRICES

----------------------------*/
/* line 578, ../sass/custom.scss */
#prices {
  background-image: url("../images/pattern_pink.gif");
  background-size: 100%;
  background-repeat: repeat;
  padding: 0;
  color: #595959;
}

/* line 586, ../sass/custom.scss */
.priceList {
  background-color: white;
  padding: 70px;
  width: 1000px;
  margin: 100px auto 100px auto !important;
  text-align: center;
  font-family: lato;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

/* line 598, ../sass/custom.scss */
.column {
  width: 100%;
  text-align: left;
}

/* line 603, ../sass/custom.scss */
.column-left {
  width: 75%;
  text-align: left;
}

/* line 608, ../sass/custom.scss */
.column-right {
  width: 25%;
  text-align: right;
}

/* line 613, ../sass/custom.scss */
.type {
  font-family: 'lato', sans-serif;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
}

/* line 620, ../sass/custom.scss */
.price-item {
  font-size: 16px;
  margin: 0;
}

/* line 625, ../sass/custom.scss */
.price-item.finstil {
  margin-top: 15px;
  font-size: 14px;
}

/* line 630, ../sass/custom.scss */
.container.prislista {
  margin-top: 30px;
}

/* line 634, ../sass/custom.scss */
.row.prislista {
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  /* line 639, ../sass/custom.scss */
  .priceList {
    width: 320px;
    padding: 50px 30px;
    margin: 50px auto !important;
  }

  /* line 644, ../sass/custom.scss */
  .type {
    font-size: 18px;
  }

  /* line 647, ../sass/custom.scss */
  .price-item {
    font-size: 13px;
  }

  /* line 650, ../sass/custom.scss */
  .finstil {
    font-size: 12px !important;
  }

  /* line 653, ../sass/custom.scss */
  .row.prislista {
    flex-wrap: nowrap;
  }
}
/*---------------------------

ABOUT

--------------------------- */
/* line 665, ../sass/custom.scss */
.p-5 {
  padding: 3rem !important;
}

/* line 669, ../sass/custom.scss */
.om-oss {
  margin: 0 70px;
}

@media only screen and (max-width: 992px) {
  /* line 674, ../sass/custom.scss */
  .p-5 {
    text-align: center;
    padding: 1rem !important;
  }
  /* line 677, ../sass/custom.scss */
  .p-5 img {
    max-width: 50%;
  }

  /* line 681, ../sass/custom.scss */
  .om-oss {
    margin: 40px 40px;
  }
}
/* line 686, ../sass/custom.scss */
#about {
  padding: 80px 0;
}

/* line 690, ../sass/custom.scss */
.quote-item {
  margin: 30px 0 0 0;
  padding-right: 90px;
  padding-left: 90px;
  text-align: center;
}
/* line 695, ../sass/custom.scss */
.quote-item img {
  margin: 20px;
}
/* line 698, ../sass/custom.scss */
.quote-item h3 {
  font-style: italic;
  text-align: left;
  font-size: 95%;
  margin: 15px 0 20px 0;
}
/* line 704, ../sass/custom.scss */
.quote-item h4 {
  text-align: right;
  font-size: 95%;
  color: #e3b0ab;
}

/* line 711, ../sass/custom.scss */
.wrap-quote {
  height: 190px;
}

@media only screen and (max-width: 767px) {
  /* line 717, ../sass/custom.scss */
  .quote-item {
    margin: 20px 0 0 0;
  }
  /* line 719, ../sass/custom.scss */
  .quote-item img {
    margin: 10px;
  }

  /* line 723, ../sass/custom.scss */
  .wrap-quote {
    width: 150px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 733, ../sass/custom.scss */
  .quote-item {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 741, ../sass/custom.scss */
  .quote-item {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 749, ../sass/custom.scss */
  .quote-item h3 {
    height: auto;
  }
}
/*--------------------------

CONTACT FORM (AGENCY)

--------------------------*/
/* line 762, ../sass/custom.scss */
#contact {
  padding: 70px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* line 768, ../sass/custom.scss */
#contactForm {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 774, ../sass/custom.scss */
#defaultBtn {
  background-color: #dae0e5;
  /*border: 1px solid darken($background_gray, 10%);*/
  padding: 1rem 2rem;
  width: 227px;
  margin-top: 10px;
  color: #595959;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 784, ../sass/custom.scss */
#defaultBtn:hover, #defaultBtn:active, #defaultBtn:focus {
  background-color: #F0D4D1;
  color: #595959;
}

@media only screen and (max-width: 767px) {
  /* line 794, ../sass/custom.scss */
  #contact {
    padding: 70px 30px;
  }

  /* line 797, ../sass/custom.scss */
  #defaultBtn {
    width: 200px;
    font-size: 14px;
  }
}
/* line 803, ../sass/custom.scss */
.form-group {
  margin-top: 20px;
  margin-bottom: 25px;
}

/* line 808, ../sass/custom.scss */
input {
  padding: 20px;
}

/* line 812, ../sass/custom.scss */
textarea {
  padding: 20px;
}

/* line 816, ../sass/custom.scss */
input.form-control {
  height: auto;
}

/* line 820, ../sass/custom.scss */
textarea.form-control {
  height: 166px;
}

/* line 824, ../sass/custom.scss */
.form-control:focus {
  border: 2px solid #F0D4D1;
  box-shadow: none;
}

/*--------------------------

INSTAGRAM FEED 

--------------------------*/
/* line 837, ../sass/custom.scss */
#instaLink {
  font-size: 24px;
  text-transform: uppercase;
  font-family: lato;
}

/* line 843, ../sass/custom.scss */
#instafeed {
  margin: 20px 0;
}

/* line 847, ../sass/custom.scss */
.instaimg img {
  margin: 0 0 30px 0;
  padding: 0;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

@media only screen and (max-width: 575px) {
  /* line 856, ../sass/custom.scss */
  .instaimg {
    text-align: center;
  }
}
/* line 861, ../sass/custom.scss */
.instaimg img:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  cursor: pointer;
}

/* load more button */
/* line 871, ../sass/custom.scss */
#btn-instafeed-load {
  background-color: #dae0e5;
  padding: 1rem 2rem;
  width: 227px;
  margin-top: 10px;
  color: #595959;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 880, ../sass/custom.scss */
#btn-instafeed-load:hover {
  background-color: #F0D4D1;
  color: #595959;
}

/*-----------------------

PMG GRID

-----------------------*/
/* line 894, ../sass/custom.scss */
.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* line 903, ../sass/custom.scss */
.grid figure {
  position: relative;
  overflow: hidden;
  margin: 0 0 15px 0;
  width: auto;
  height: auto;
  text-align: center;
  cursor: pointer;
}

/* line 913, ../sass/custom.scss */
.grid figure img {
  position: relative;
  display: block;
  max-width: 100%;
  width: 100%;
  opacity: 1;
}

/* line 922, ../sass/custom.scss */
figure.effect-duke img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* line 927, ../sass/custom.scss */
figure.effect-duke:hover img {
  opacity: 1;
  -webkit-transform: scale3d(1.08, 1.08, 1);
  -moz-transform: scale3d(1.08, 1.08, 1);
  -ms-transform: scale3d(1.08, 1.08, 1);
  -o-transform: scale3d(1.08, 1.08, 1);
  transform: scale3d(1.08, 1.08, 1);
}

/*#to-top {
    display: block;
}*/
/* line 937, ../sass/custom.scss */
#go-up-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: #595959;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
/* line 950, ../sass/custom.scss */
#go-up-btn:hover {
  background-color: transparent;
}
/* line 953, ../sass/custom.scss */
#go-up-btn:hover i {
  color: #F0D4D1;
}
