@mixin ease-animation($element, $seconds) {
    -webkit-transition: $element $seconds ease-in-out;
    -moz-transition: $element $seconds ease-in-out;
    -ms-transition: $element $seconds ease-in-out;
    -o-transition: $element $seconds ease-in-out;
    transition: $element $seconds ease-in-out;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

//font-family: 'lato', sans-serif;
//font-family: 'Just Another Hand', cursive;
//font-family: 'Handlee', cursive;
//font-family: 'Caveat Brush', cursive;
//font-family: 'Courgette', cursive;
//font-family: 'Give You Glory', cursive;
//font-family: 'The Girl Next Door', cursive;
//font-family: 'La Belle Aurore', cursive;
//

/* 

//XS
@media only screen and (max-width: 767px) {
}

//SM
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

//MD
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

//LG
@media only screen and (min-width: 1200px) and (max-width: 1579px) {}

//XL
@media only screen and (min-width: 1580px) {}

*/

$pink: #F7B4BA;
$light_pink: #ffeaed;
$everly_pink: #F0D4D1;
$brand-light-pink: #f9dbdf;
$red_pink: #C74057;
$purple: #3B55E6;
$background_gray: #f8f9fa;
$dark_adobe_gray: #262626;
$brand-text-color: #595959;
$off-white: #F5F3EE;

/*----------------------

ALL OVER THE PAGE

----------------------*/

.fa,
a {
    color: $brand-text-color;
    &:hover,
    &:active,
    &:focus {
        color: $everly_pink;
    }
}

p {
    margin: 0;
}

.xs-text {
    font-size: 11px;
}

.capsLock {
    text-transform: uppercase;
}

.lg-text {
    font-size: 18px;
}

.italic {
    font-style: italic;
}

.marginTop {
    margin-top: 10px;
}

.zeroPadding {
    padding: 0;
}

.zeroMargin {
    margin: 0;
}

.btn-outline-secondary {
    background-color: darken($background_gray, 10%);
    color: $brand-text-color;
    border-radius: 5px;
    border: 0;
    padding: 10px 30px;
    @include ease-animation(all, 0.2s);
    &:hover,
    &:active,
    &:focus {
        //background-color: lighten($pink, 10%);
        background-color: $everly_pink;
        color: $brand-text-color;
    }
}

.hr-title {
    width: 70px;
    height: 1px;
    background-color: $brand-text-color;
}

.section-heading {
    color: $brand-text-color;
    margin: 15px 0 45px 0;
    font-size: 2.1em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-family: lato;
    font-weight: 400;
}

@media only screen and (max-width: 480px) {
    .section-heading {
        font-size: 1.7em;
    }
    .smaller-mobile {
        font-size: 1.4em;
    }
}

.section-heading.noMargin {
    margin: 15px;
}

.section-subheading {
    margin: 20px;
}

.section-subheading.text-muted {
    font-size: 90%;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: $brand-text-color;
}

body {
    color: $brand-text-color;
}

section {
    padding: 110px 0;
}

.container-fluid {
    max-width: 1600px;
}

#makeup {
    padding: 55px 0 0 0;
}

.btn {
    cursor: pointer;
}


/*----------------------------

HEADER 

----------------------------*/

header {
    padding: 55px 0 0 0;
}

.navbar-brand img {
    width: 55%;
}

.nav-link {
    /*text-transform: uppercase;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-brand.js-scroll-trigger {
    width: 200px;
}

.ml-auto {
    margin-top: 10px;
    text-align: right;
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 991px) {
    .fixed-top {
        border-bottom: 1px solid lighten($dark_adobe_gray, 10%);
    }
    .navbar-brand img {
        width: 50%;
    }
    .nav-link {
        margin: 0px;
    }
}


/* NAV LINKS EFFECT UNDERLINE */

.cl-effect-3 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}


/*.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}*/

.cl-effect-3 a:hover::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}


/*----------------------------

CAROUSEL 

----------------------------*/

.btn.white {
    background-color: white;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($background_gray, 10%);
    }
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item.zoom-70 {
    background-position: 70%;
}

.carousel-item.zoom-80 {
    background-position: 80%;
}

.carousel-item.zoom-left {
    background-position: left;
}

.carousel-caption {
    width: 300px;
    top: 180px;
    color: $brand-text-color;
    h3 {
        font-size: 3em;
        font-family: 'Radley', serif;
    }
    p {
        margin: 25px 0 30px 0;
    }
}

.carousel-caption.caption-right {
    left: auto;
    color: white;
}

@media only screen and (max-width: 767px) {
    .carousel-item {
        background-color: (0, 0, 0, 0.2);
        //opacity: 0.6;
    }
    .carousel-caption {
        width: 200px;
        top: 100px;
        right: auto;
        left: 30px;
        h3 {
            font-size: 1.8em;
        }
        p {
            margin: 25px 0 30px 0;
            font-size: 1em;
        }
    }
    .carousel-caption.caption-right {
        top: 100px;
        left: 40px;
        right: auto;
    }
}

//SM
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        width: 300px;
        top: 270px;
        right: auto;
        left: 60px;
        p {
            font-size: 1.2em;
        }
    }
}

//CUSTOMIZED TO FIT MACBOOK PRO
@media only screen and (min-width: 992px) and (max-width: 1300px) {
    .carousel-caption {
        top: 100px!important;
    }
}


/*----------------------------

FOOTER

----------------------------*/

.social-media {
    list-style: none;
    padding: 0;
    margin: 0 0 50px 0;
    li {
        display: inline-block;
        margin: 0px 3px;
        a {
            display: inline-block;
            width: 54px;
            height: 54px;
            color: $brand-text-color;
            background-color: $off-white;
            border-radius: 27px;
            i {
                font-size: 23px;
                padding: 16px 0px;
                &:hover,
                &:active,
                &:focus {
                    color: $off-white;
                }
            }
            &:hover,
            &:active,
            &:focus {
                background-color: $brand-text-color;
                i {
                    color: $off-white;
                }
            }
        }
    }
}

footer {
    padding: 100px 0 30px 0;
}

.text-muted-footer {
    font-size: 90%;
}

@media only screen and (max-width: 992px) {
    .text-muted-footer {
        font-size: 80%;
    }
}

#to-top {
    font-size: 1em;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    padding: 15px 20px;
}

.section-heading.footer {
    font-size: 1.7em;
    margin: 15px;
    text-transform: capitalize;
}


/*----------------------------

SERVICES

----------------------------*/

.portfolio-item {
    text-align: center;
}

.card-title {
    margin-top: 5px;
    height: 50px;
    text-transform: capitalize;
}

.card-text {
    height: 380px;
    font-size: 14px;
    margin: 10px;
}

//XS
@media only screen and (max-width: 575px) {
    .portfolio-item {
        margin: auto 30px;
    }
    .card-text {
        height: auto;
        margin-bottom: 40px;
    }
}

//CUSTOMIZED SCREEN
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .smaller-text {
        font-size: 12px!important;
    }
    .card-title {
        height: 80px;
    }
    .card-text {
        height: 440px;
        font-size: 14px;
    }
}

//SM
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .card-title {
        height: 50px;
    }
    .card-text {
        height: 310px;
        font-size: 14px;
    }
    .smaller-text {
        font-size: 12px!important;
    }
}

//MD
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .card-text {
        height: 340px;
    }
    .smaller-text {
        font-size: 12px!important;
    }
}

figure.effect-duke img {
    @include ease-animation(all, 0.35s);
}

figure.effect-duke:hover img {
    opacity: 1;
    @include transform(scale3d(1.08, 1.08, 1));
}

.portfolio-item {
    margin-bottom: 30px;
}

.navbar-toggler {}

#services {
    background-color: #fff!important;
}


/*---------------------------- 

MAP

----------------------------*/

#map {
    width: 100%;
    height: 450px;
}

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}


/*----------------------------

PRICES

----------------------------*/

#prices {
    background-image: url("../images/pattern_pink.gif");
    background-size: 100%;
    background-repeat: repeat;
    padding: 0;
    color: $brand-text-color;
}

.priceList {
    background-color: white;
    //opacity: 0.8;
    padding: 70px;
    width: 1000px;
    margin: 100px auto 100px auto!important;
    text-align: center;
    font-family: lato;
    z-index: 3;
    @include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.4));
}

.column {
    width: 100%;
    text-align: left;
}

.column-left {
    width: 75%;
    text-align: left;
}

.column-right {
    width: 25%;
    text-align: right;
}

.type {
    font-family: 'lato', sans-serif;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
}

.price-item {
    font-size: 16px;
    margin: 0;
}

.price-item.finstil {
    margin-top: 15px;
    font-size: 14px;
}

.container.prislista {
    margin-top: 30px;
}

.row.prislista {
    margin: 10px;
}

@media only screen and (max-width: 450px) {
    .priceList {
        width: 320px;
        padding: 50px 30px;
        margin: 50px auto!important;
    }
}

@media only screen and (min-width: 451px) and (max-width: 767px) {
    .priceList {
        width: 420px;
        padding: 50px 30px;
        margin: 50px auto!important;
    }
}

@media only screen and(max-width: 767px) {
    .type {
        font-size: 18px;
    }
    .price-item {
        font-size: 13px;
    }
    .finstil {
        font-size: 12px!important;
    }
    .row.prislista {
        flex-wrap: nowrap;
    }
}


/*---------------------------

ABOUT

--------------------------- */

.p-5 {
    padding: 3rem !important;
}

.om-oss {
    margin: 0 70px;
}

@media only screen and (max-width: 992px) {
    .p-5 {
        text-align: center;
        padding: 1rem!important;
        img {
            max-width: 50%;
        }
    }
    .om-oss {
        margin: 40px 40px;
    }
}

#about {
    padding: 80px 0;
}

.quote-item {
    margin: 30px 0 0 0;
    padding-right: 90px;
    padding-left: 90px;
    text-align: center;
    img {
        margin: 20px;
    }
    h3 {
        font-style: italic;
        text-align: left;
        font-size: 95%;
        margin: 15px 0 20px 0;
    }
    h4 {
        text-align: right;
        font-size: 95%;
        color: darken($everly_pink, 10%);
    }
}

.wrap-quote {
    height: 190px;
}

//XS
@media only screen and (max-width: 767px) {
    .quote-item {
        margin: 20px 0 0 0;
        img {
            margin: 10px;
        }
    }
    .wrap-quote {
        width: 150px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

//SM
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .quote-item {
        padding-right: 30px;
        padding-left: 30px;
    }
}

//MD
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .quote-item {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .quote-item {
        h3 {
            height: auto;
        }
    }
}


/*--------------------------

CONTACT FORM (AGENCY)

--------------------------*/

#sendMessageButton {
    background-color: darken($background_gray, 10%);
    padding: 1rem 2rem;
    width: 227px;
    margin-top: 10px;
    color: $brand-text-color;
    border-radius: 10px;
    @include ease-animation(all,
    0.2s);
    &:hover {
        //background-color: lighten($pink, 10%);
        background-color: $everly_pink;
        color: $brand-text-color;
    }
}

#contact {
    padding: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#contactForm {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 767px) {
    #contact {
        padding: 70px 30px;
    }
    #sendMessageButton {
        width: 200px;
        font-size: 14px;
    }
}

.form-group {
    margin-top: 20px;
    margin-bottom: 25px;
}

input {
    padding: 20px;
}

textarea {
    padding: 20px;
}

input.form-control {
    height: auto;
}

textarea.form-control {
    height: 166px;
}

.form-control:focus {
    //border: 2px solid lighten($pink, 10%);
    border: 2px solid $everly_pink;
    box-shadow: none;
}


/*--------------------------

INSTAGRAM FEED 

--------------------------*/

#instagram-feed {
    padding: 70px 0;
}

#instaLink {
    font-size: 24px;
    text-transform: uppercase;
    font-family: lato;
}

#instafeed {
    margin: 20px 0;
}

.instaimg img {
    margin: 0 0 30px 0;
    padding: 0;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

@media only screen and (max-width: 575px) {
    .instaimg {
        text-align: center;
    }
}

.instaimg img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    cursor: pointer;
}


/* load more button */

#btn-instafeed-load {
    background-color: darken($background_gray, 10%);
    padding: 1rem 2rem;
    width: 227px;
    margin-top: 10px;
    color: $brand-text-color;
    border-radius: 10px;
    @include ease-animation(all,
    0.2s);
    &:hover,
    {
        background-color: $everly_pink;
        color: $brand-text-color;
    }
}


/*-----------------------

PMG GRID

-----------------------*/

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    overflow: hidden;
    margin: 0 0 15px 0;
    width: auto;
    height: auto;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    //min-height: 100%;
    max-width: 100%;
    width: 100%;
    opacity: 1;
}

figure.effect-duke img {
    @include ease-animation(all,
    0.35s);
}

figure.effect-duke:hover img {
    opacity: 1;
    @include transform(scale3d(1.08, 1.08, 1));
}


/*#go-up-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: $brand-text-color;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    &:hover,
    {
        background-color: transparent;
        i {
            color: $everly_pink;
        }
    }
}

@media only screen and (max-width: 992px) {
    #go-up-btn {
        display: none;
    }
}*/

.less-padding {
    padding: 0.8rem !important;
}